.comment-main-container{
    display: grid;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-width: 500px;
}

.comment-avatar-main{
    display: flex; 
    flex: start; 
    gap: 10px;
    align-items: center;

    & div{
        display: inherit; 
        flex-direction: "column"
    }
}

.comment-icons-main{
    display: flex;
    justify-content: space-between;
    width: 100%
}

.comment-icon{
    display: inherit;
    align-items: center; 
    gap: 5px
}

span{
    color: #878787
}

strong{
    color: #000
}

a{
    text-decoration: none;
    color: #007AFF
}