.chatPreview {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #113e70;
    width: 459px;
    height: 76px;
    padding: 11px 33px;
    column-gap: 69px;

    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 12px;
    }
    .avatar {
        display: flex;
        width: 65px;
        height: 65px;
        color: transparent;
    }

    .data {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }

    .name {
        color: #fff;
        font-family: Inter, Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .message {
        color: #fff;
        font-family: Inter, Poppins;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .time {
        display: flex;
        color: #fff;
        font-family: Inter, Poppins;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-items: center;
    }
}
