@import '../../../../resources/styles/variables.scss';

.circleIcon {
    padding: 12px;
    border-radius: 100%;

    &--primary {
        background-color: $primary-color;
        color: white;
    }
    &--secondary {
        background-color: $secondary-color;
        color: black;
    }

    &--comment {
        background-color: transparent;
        color: #555555;
        size: 18px;
        padding: 6px;
    }
}
