$primary-color: #093D89;

$secondary-color: #5790DF;
$third-color: #E9E9EB;
$fifth-color: #6C7A9C; 
$fourth-color: #E6EEFA;

/*  Fuentes  */

$font-poppins-light: 'Poppins-Light', sans-serif;
$font-poppins-regular: 'Poppins-Regular', sans-serif;
$font-poppins-black: 'Poppins-Black', sans-serif;
$font-poppins-bold: 'Poppins-Bold', sans-serif;
$font-poppins-medium: 'Poppins-Medium', sans-serif;
$font-poppins-black-italic: 'Poppins-BlackItalic', sans-serif;
$font-poppins-bold-italic: 'Poppins-BoldItalic', sans-serif;
$font-poppins-extraBold: 'Poppins-ExtraBold', sans-serif;
$font-poppins-extraBold-italic: 'Poppins-ExtraBoldItalic', sans-serif;
$font-poppins-extraLigth: 'Poppins-ExtraLight', sans-serif;
$font-poppins-extraLigth-italic: 'Poppins-ExtraLightItalic', sans-serif;
$font-poppins-semibold: 'Poppins-SemiBold', sans-serif;
$font-poppins-italic: 'Poppins-Italic', sans-serif;
$font-poppins-medium-italic: 'Poppins-MediumItalic', sans-serif;
$font-poppins-semibold-italic: 'Poppins-SemiBoldItalic', sans-serif;

/*zise-text*/
$regular-text: 16px;
$title-text-regular: 20px;
$title-text-big: 128px;

