/*  Colores  */
$primary-color: #1B4965;

/*calidos*/
$secondary-color: #62B6CB;
$third-color: #BEE9E8;
/*frios*/
$fifth-color: #5FA8D3; 
$fourth-color: #CAE9FF;

/*  Fuentes  */

$font-poppins-light: 'Poppins-Light', sans-serif;
$font-poppins-regular: 'Poppins-Regular', sans-serif;
$font-poppins-black: 'Poppins-Black', sans-serif;
$font-poppins-bold: 'Poppins-Bold', sans-serif;