.name_profile {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.userName {
    background-color: #eeeff6;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    color: gray;
}
