.home_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.listOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}
