name: Mobile CI

on:
  pull_request:
    branches:
      - develop
    paths:
      - 'android/**'

defaults:
  run:
    working-directory: ./android

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setting up Kotlin environment
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: gradlew

      - name: Grant execute permissions to gradle wrapper
        run: chmod +x ./gradlew

      - name: Build App
        run: ./gradlew build

      - name: Test App
        run: ./gradlew test

      - name: Package App
        run: ./gradlew assembleRelease